body {
    background-color:#333;
    background-image: url(../../assets/classy_fabric.png);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
}

#sidepanel {
    margin: 0px;
    height: 100%;
    min-width: 220px;
    background-color: #3fb0ac;
    position:fixed;
    left: 0px;
    -webkit-box-shadow: 0 0 10px 1px #000;
	box-shadow: 0 0 10px 1px #000;
    z-index: 100;
    transition: all 0.5s;
    max-width: 220px !important;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#sidepanel img {
    text-align: left;
}

#userinfo div {
    margin-top: -42px;
    margin-left: 60px;
    table-layout: auto;
    line-height: 0.9;
}

#userinfo img {
    color: aliceblue;
}

#sidepanel h2 {
    margin-left: 10px;
}

#sidepanel ul {
    margin-top: 10px;
    font-family: sans-serif;
    margin-left: -15px;
    list-style: none;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#sidepanel ul li {
    padding: 10px;
    padding-left: 30px;
    margin-left: -40px;
    border-bottom: solid #173e43 1px;
    transition: all 0.2s;
    cursor: pointer;
}

#sidepanel ul li:first-child {
    border-top: solid #173e43 1px;
}

#sidepanel ul li:hover {
    color: #fff;
    background-color: #173e43;
    -webkit-box-shadow: inset 7px 9px 25px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 7px 9px 25px -9px rgba(0,0,0,0.75);
    box-shadow: inset 7px 9px 25px -9px rgba(0,0,0,0.75);
}

#sidepanel ul li:active {
    color: #fae596 ;
    webkit-box-shadow: inset 7px 9px 43px 7px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 7px 9px 43px 7px rgba(0,0,0,0.75);
    box-shadow: inset 7px 9px 43px 7px rgba(0,0,0,0.75);
}

#sidepanel_credit {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    padding: 20px;
}

#userinfo {
    padding: 20px;
}

#content {
    background-color:#333;
    background-image: url(../../assets/classy_fabric.png);
    height: 100%;
    position:absolute;
    width: calc(100% - 220px);
    margin: 0px;
    margin-left: 220px;
    transition: all 0.5s;
}

#content_box {
    position: relative;
    background-color: aliceblue;
    min-height: 200px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    -webkit-box-shadow: 0 0 10px 1px #000;
    box-shadow: 0 0 10px 1px #000;
    padding: 20px;
}

#content_box button{
    outline:none;
    padding: 5px;
    background-color: #3fb0ac;
    border: solid #173e43 1px;
    margin-bottom: 10px;
}

#content_box button:hover{
    color: #fff;
    background-color: #173e43;
    -webkit-box-shadow: inset 7px 9px 25px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 7px 9px 25px -9px rgba(0,0,0,0.75);
    box-shadow: inset 7px 9px 25px -9px rgba(0,0,0,0.75);
}

#content_box table{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;    
    overflow-wrap: break-word; 
}

#content_box table tr:first-child{
    background-color:antiquewhite;
    border-bottom: solid 1px #333;
}

#content_box table tr{
    transition: all 0.5s;
}


#content_box table td{
    border-bottom: dashed 1px #333;
    
}

#menu_but {
    display: none;
    cursor: pointer;
    
}


#AddUser_Box{
    text-align: center;
    margin-top: 10px;
    background-color: #FFF;
    border-radius: 5px;
    padding: 15px;
    display: none;
    position: fixed;
    left: calc(50%-152px);
    padding: 15px;
    border: 1px solid #888;
    width: 300px;
    z-index: 99999;
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    
    left: calc(50%);
}

#AddUser_Box select {
	margin-top: 15px;
}

#AddUser_Box h1 {
    margin-left: 20px;
    text-align: center;
    font-size: 2em;
}

#cancel_Icon {
float: right;
    width: 40px;
    height: 40px;
    margin-top: -15px;
    margin-right: -15px;
    cursor: pointer;
    -webkit-transition: transform 0.2s; /* Safari */
    transition: transform 0.2s;
}

#cancel_Icon:hover {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
}

.display{
    display: block !important;
}

#pass_td {  
    max-width: 60px;
}

/* ----------- mobile ----------- */
@media screen and (max-width: 400px) {
    #sidepanel {
        position: fixed;
        height: 80px;
        width: 100%;
        max-width: 100%;
        min-width: 100% !important;
    }

    #sidepanel h2 {
        display: none;
    }

    #sidepanel ul {
        display: none;
    }

     #sidepanel_credit {
        display: none;
    }

    #content {
        width: 100%;
        margin: 0px;
    }

    #content_box {
        margin-top: 95px;
    }
    
    #menu_but {
        display: block;
        position: fixed;
        right: 25px;
        top: 25px;
    }
    .on {
        display:inline-block !important;
        width: 100% !important;
        text-align: center;
        margin-top: -10px !important;
        margin-bottom: 0px;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .on_sidepanel {
        height: auto !important;
     
    }

    .rot {

    }

  }

}