#sql.config
#Sat Apr 08 13:35:05 CEST 2017
deleteRBSql=DELETE FROM raavarebatch WHERE rb_id \= ?
getPBCListIdSql=SELECT * FROM produktbatchkomponent WHERE pb_id \= ?
createOprSql=INSERT INTO operatoer(opr_id, opr_navn, ini, cpr, password) VALUES (?, ?, ?, ?, ?)
createRaavareSql=INSERT INTO raavare(raavare_id, raavare_navn, leverandoer) VALUES (?, ?, ?)
deleteOprSql=DELETE FROM operatoer WHERE opr_id \= ?
getRoleListSql=SELECT * FROM rolle
getOprRolesSql=SELECT * FROM rolle WHERE opr_id \= ?
deleteReceptSql=DELETE FROM recept WHERE recept_id \= ?
getRBListIdSql=SELECT * FROM raavarebatch WHERE rb_id \= ?
createRoleSql=INSERT INTO rolle(opr_id, rolle_navn) VALUES (?, ?)
getReceptListSql=SELECT * FROM recept
getPBCListSql=SELECT * FROM produktbatchkomponent
getPBCSql=SELECT * FROM produktbatchkomponent WHERE pb_id \= ? AND rb_id \= ?
getRBSql=SELECT * FROM raavarebatch WHERE rb_id \= ?
getOprListSql=SELECT * FROM operatoer
getRaavareSql=SELECT * FROM raavare WHERE raavare_id \= ?
getReceptSql=SELECT * FROM recept WHERE recept_id \= ?
getRaavareListSql=SELECT * FROM raavare
getRCListIdSql=SELECT * FROM receptkomponent WHERE recept_id \= ?
createRCSql=INSERT INTO receptkomponent(recept_id, raavare_id, nom_netto, tolerance) VALUES (?, ?, ?, ?)
getOprSql=SELECT * FROM operatoer WHERE opr_id \= ?
updateRCSql=UPDATE receptkomponent SET nom_netto \= ?, tolerance \= ? WHERE recept_id \= ? AND raavare_id \= ?
deleteRCSql=DELETE FROM receptkomponent WHERE recept_id \= ? AND raavare_id \= ?
updateRaavareSql=UPDATE raavare SET raavare_navn \= ?, leverandoer \= ? WHERE raavare_id \= ?
updatePBCSql=UPDATE produktbatchkomponent SET tara \= ?, netto \= ? WHERE pb_id \= ? AND rb_id \= ? AND opr_id \= ?
createPBSql=INSERT INTO produktbatch(pb_id, status, recept_id) VALUES (?, ?, ?)
updatePBSql=UPDATE produktbatch SET status \= ? WHERE pb_id \= ? AND recept_id \= ?
deletePBSql=DELETE FROM produktbatch WHERE pb_id \= ?
getRCSql=SELECT * FROM receptkomponent WHERE recept_id \= ? AND raavare_id \= ?
updateOprSql=UPDATE operatoer SET opr_navn \= ?, ini \= ?, cpr \= ?, password \= ? WHERE opr_id \= ?
getRBListSql=SELECT * FROM raavarebatch
deleteRoleSql=DELETE FROM rolle WHERE opr_id \= ? AND rolle_navn \= ?
getPBSql=SELECT * FROM produktbatch WHERE pb_id \= ?
getRCListSql=SELECT * FROM receptkomponent
updateReceptSql=UPDATE recept SET recept_navn \= ? WHERE recept_id \= ?
getPBListSql=SELECT * FROM produktbatch
createPBCSql=INSERT INTO produktbatchkomponent(pb_id, rb_id, tara, netto, opr_id) VALUES (?, ?, ?, ?, ?)
deletePBCSql=DELETE FROM produktbatchkomponent WHERE pb_id \= ? AND rb_id \= ?
createReceptSql=INSERT INTO recept(recept_id, recept_navn) VALUES (?, ?)
createRBSql=INSERT INTO raavarebatch(rb_id, raavare_id, maengde) VALUES (?, ?, ?)
updateRBSql=UPDATE raavarebatch SET maengde \= ? WHERE rb_id \= ? AND raavare_id \= ?
deleteRaavareSql=DELETE FROM raavare WHERE raavare_id \= ?
