# mysql_template.config
#
# Use this configuration file template to connect to the database
# remotely (or locally) if you are using Oracle's implementation. 
# (change DRIVER_CLASS to org.mariadb.jdbc.Driver if using MariaDB.)

# Database host
HOST=mysql.example.com

# Database driver class
DRIVER_CLASS=com.mysql.jdbc.Driver

# Database driver
DRIVER=jdbc\:mysql

# Database name
DATABASE=database_name

# Database port
PORT=3306

# Database username
USERNAME=username

# Database user password
PASSWORD=password