# sql.config
#
# This file contains all of the SQL queries associated with the project.
#

deleteRBSql=DELETE FROM raavarebatch WHERE rb_id \= ?
getPBCListIdSql=SELECT * FROM produktbatchkomponent WHERE pb_id \= ?
deleteOprRolesSql=CALL DELETE_OPR_ROLES(?)
getVAdminOperatorSql=SELECT * FROM v_admin_operator WHERE opr_id \= ?
createOprSql=CALL CREATE_OPERATOR(?, ?, ?, ?, ?)
createRaavareSql=INSERT INTO raavare(raavare_id, raavare_navn, leverandoer) VALUES (?, ?, ?)
deleteOprSql=DELETE FROM operatoer WHERE opr_id \= ?
getVAdminForemanPBCListSql=SELECT * FROM v_admin_foreman_pbc
getRoleListSql=SELECT * FROM rolle
getOprRolesSql=SELECT * FROM rolle WHERE opr_id \= ?
deleteReceptSql=DELETE FROM recept WHERE recept_id \= ?
getRBListIdSql=SELECT * FROM raavarebatch WHERE rb_id \= ?
createRoleSql=INSERT INTO rolle(opr_id, rolle_navn) VALUES (?, ?)
getReceptListSql=SELECT * FROM recept
getPBCListSql=SELECT * FROM produktbatchkomponent
getPBCSql=SELECT * FROM produktbatchkomponent WHERE pb_id \= ? AND rb_id \= ?
getRBSql=SELECT * FROM raavarebatch WHERE rb_id \= ?
getOprListSql=SELECT * FROM operatoer
getRaavareSql=SELECT * FROM raavare WHERE raavare_id \= ?
getReceptSql=SELECT * FROM recept WHERE recept_id \= ?
getVForemanOperatorListSql=SELECT * FROM v_foreman_operator
getRaavareListSql=SELECT * FROM raavare
getRCListIdSql=SELECT * FROM receptkomponent WHERE recept_id \= ?
createRCSql=CALL CREATE_RECEPTKOMPONENT(?, ?, ?, ?)
getOprSql=SELECT * FROM operatoer WHERE opr_id \= ?
getVOperatorRecipeListSql=SELECT * FROM v_operator_recipe
updateRCSql=UPDATE receptkomponent SET nom_netto \= ?, tolerance \= ? WHERE recept_id \= ? AND raavare_id \= ?
deleteRCSql=DELETE FROM receptkomponent WHERE recept_id \= ? AND raavare_id \= ?
updateRaavareSql=UPDATE raavare SET raavare_navn \= ?, leverandoer \= ? WHERE raavare_id \= ?
updatePBCSql=UPDATE produktbatchkomponent SET tara \= ?, netto \= ? WHERE pb_id \= ? AND rb_id \= ? AND opr_id \= ?
createPBSql=INSERT INTO produktbatch(pb_id, status, recept_id) VALUES (?, ?, ?)
getVPharmacistRecipeSql=SELECT * FROM v_pharmacist_recipe WHERE recept_id \= ?
getVOperatorRBListSql=SELECT * FROM v_operator_rb
getVAdminForemanPBCSql=SELECT * FROM v_admin_foreman_pbc WHERE opr_id \= ?
updatePBSql=UPDATE produktbatch SET status \= ? WHERE pb_id \= ? AND recept_id \= ?
deletePBSql=DELETE FROM produktbatch WHERE pb_id \= ?
getRCSql=SELECT * FROM receptkomponent WHERE recept_id \= ? AND raavare_id \= ?
updateOprSql=UPDATE operatoer SET opr_navn \= ?, ini \= ?, cpr \= ?, password \= ? WHERE opr_id \= ?
getRBListSql=SELECT * FROM raavarebatch
deleteRoleSql=DELETE FROM rolle WHERE opr_id \= ? AND rolle_navn \= ?
getPBSql=SELECT * FROM produktbatch WHERE pb_id \= ?
getRCListSql=SELECT * FROM receptkomponent
updateReceptSql=UPDATE recept SET recept_navn \= ? WHERE recept_id \= ?
getPBListSql=SELECT * FROM produktbatch
createPBCSql=INSERT INTO produktbatchkomponent(pb_id, rb_id, tara, netto, opr_id) VALUES (?, ?, ?, ?, ?)
getVForemanOperatorSql=SELECT * FROM v_foreman_operator WHERE opr_id \= ?
deletePBCSql=DELETE FROM produktbatchkomponent WHERE pb_id \= ? AND rb_id \= ?
getVPharmacistRecipeListSql=SELECT * FROM v_pharmacist_recipe
getVAdminOperatorListSql=SELECT * FROM v_admin_operator
createReceptSql=INSERT INTO recept(recept_id, recept_navn) VALUES (?, ?)
createRBSql=INSERT INTO raavarebatch(rb_id, raavare_id, maengde) VALUES (?, ?, ?)
getVOperatorRBSql=SELECT * FROM v_operator_rb WHERE raavare_id \= ?
updateRBSql=UPDATE raavarebatch SET maengde \= ? WHERE rb_id \= ? AND raavare_id \= ?
getVOperatorRecipeSql=SELECT * FROM v_operator_recipe WHERE recept_id \= ?
deleteRaavareSql=DELETE FROM raavare WHERE raavare_id \= ?